<nav class="navbar navbar-expand-lg navbar-light" id="nav">
  <div class="container-fluid">
    <h2>GYM HERO</h2>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            class="nav-link active"
            routerLink=""
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
            >HOME</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about" routerLinkActive="active-link"
            >ABOUT</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="service"
            routerLinkActive="active-link"
            >SERVICE</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="gallery"
            routerLinkActive="active-link"
            >GALLERY</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="contact"
            routerLinkActive="active-link"
            >CONTACT</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
