#style {
  background-color: black;
  position: sticky;
}
#logo {
  background-image: url(src\assets\img\logo.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 25px;
  border-style: groove;
}
