<div id="style">
  <div class="container">
    <div class="row">
      <div class="col-md-3" id="logo" style="height: 180px; width: 200px"></div>
      <div class="col-md-3 text-center">
        <h4 style="color: yellow; padding-top: 15%"><b>HEAD OFFICE</b></h4>
        <p style="color: white; padding-top: 5%">
          Dhantak Plaza, 203, 2nd Floor, Makwana Rd, Gamdevi, Marol, Andheri
          East, Mumbai, Maharashtra 400059
        </p>
      </div>

      <div class="col-md-3 text-center">
        <h4 style="color: yellow; padding-top: 15%"><b>CALL US</b></h4>
        <p style="color: white">
          +91 8209938447 / +91 9110028362 <br />
          +91 9709127845 / +91 9515385573 <br />
          +91 8727848571 / +91 9019942321
        </p>
      </div>
      <div class="col-md-3 text-center">
        <h4 style="color: yellow; padding-top: 15%" class="heof">
          <b>EMAIL US</b>
        </h4>
        <p style="color: white">GymApp@gmail.com</p>
      </div>
    </div>
  </div>
</div>
