:host {
  display: block;
  text-align: center;
}

.gallery-lightbox-container {
  position: relative;
  display: inline-block;
  padding: 25px;
}
.gallery {
  line-height: 0;
  column-count: 3;
  column-gap: 30px;
}

.gallery-img img {
  width: 100%;
  height: auto;
  cursor: zoom-in;
  border-radius: 0.35rem;
  margin-bottom: 30px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.21);
}
#gallary {
  background-color: gray;
}
