<div class="banner" id="home">
  <h1>“NO PAIN, NO GAIN”<br /><span>TRAIN AND HUSTLE</span><br /></h1>
  <p class="par">
    Get comfortable with being uncomfortable!<br />
    The human body is the best picture of the human soul <br />
    We train people for better health in future...
  </p>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h3>
            <b><i>LOGIN HERE</i></b>
          </h3>
          <hr />
        </div>
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Email address</label
            >
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
            <div id="emailHelp" class="form-text">
              We'll never share your email with anyone else.
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Password</label
            >
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
          <button type="submit" class="btn btn-primary" id="bts">Login</button>
        </form>
        <p class="link">
          Don't have an account<br />
          <a routerLink="./signup">Sign up</a>
        </p>
        <p class="liw">Log in with</p>

        <div class="col-lg-4">
          <a href="#" target="_blank"
            ><i class="bi bi-facebook" style="font-size: 25px"></i></a
          >&nbsp;&nbsp;

          <a href="#" target="_blank"
            ><i class="bi bi-instagram" style="font-size: 25px"></i></a
          >&nbsp; &nbsp;
          <a href="#" target="_blank"
            ><i class="bi bi-google" style="font-size: 25px"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
