<div class="body">
  <h3><b>Welcome to our Dashboard</b></h3>
  <h5 id="abc"><b>For more details you can contact our Team...</b></h5>
  <div class="row" id="row1">
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Prabhu Singh</h5>
          <h6 class="card-subtitle mb-2 text-muted">Manager</h6>
          <p class="card-text">
            pbkumar@gmail.com <br />
            8110028362 <br />
            Hinjewadi,Pune
          </p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Praveen Kumar</h5>
          <h6 class="card-subtitle mb-2 text-muted">Manager</h6>
          <p class="card-text">
            praveenkumar@gmail.com <br />
            7110028362 <br />
            Thane,Mumbai
          </p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Shreyansh Singh</h5>
          <h6 class="card-subtitle mb-2 text-muted">Trainer</h6>
          <p class="card-text">
            shreyakumar@gmail.com <br />
            8110028789 <br />
            Whitefield,Bangalore
          </p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="row2">
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Bhuvan Tikole</h5>
          <h6 class="card-subtitle mb-2 text-muted">Manager</h6>
          <p class="card-text">
            bhuvankumar@gmail.com <br />
            8117828362 <br />
            Sikandrabad,Hyderabad
          </p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Neha Kumari</h5>
          <h6 class="card-subtitle mb-2 text-muted">Trainer</h6>
          <p class="card-text">
            nehakumari@gmail.com <br />
            9265028362 <br />
            Boring road,Patna
          </p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Sonam Chavan</h5>
          <h6 class="card-subtitle mb-2 text-muted">Head-Trainer</h6>
          <p class="card-text">
            sonamc@gmail.com <br />
            7843527689 <br />
            Baghira,Jamshedpur
          </p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="row3">
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Santosh Gidde</h5>
          <h6 class="card-subtitle mb-2 text-muted">Manager</h6>
          <p class="card-text">
            pbkumar@gmail.com <br />
            8110028362 <br />
            Hinjewadi,Pune
          </p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Nidhi Pallavi</h5>
          <h6 class="card-subtitle mb-2 text-muted">Manager</h6>
          <p class="card-text">
            nidhip@gmail.com <br />
            8110908762 <br />
            Dharvad,Hubballi
          </p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Ravi Mahajan</h5>
          <h6 class="card-subtitle mb-2 text-muted">Head-Trainer</h6>
          <p class="card-text">
            ravim@gmail.com <br />
            8976543412 <br />
            Noida,Delhi
          </p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
  </div>
</div>
