<div class="banner">
  <section>
    <div class="container">
      <div class="row">
        <div class="header">
          <h2>Get In Touch</h2>
        </div>
        <br />

        <div class="col-md-6">
          <form>
            <div id="user-group">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  name="username"
                  id="username"
                  placeholder="Enter Name"
                />
              </div>
              <br />

              <div class="form-group">
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  id="email"
                  placeholder="Enter Email"
                />
              </div>
              <br />
            </div>
            <div class="form-group">
              <input
                type="text"
                name="location"
                id="location"
                class="form-control"
                placeholder="Enter Location"
              />
            </div>
            <br />

            <div class="class-group">
              <textarea
                rows="6"
                name="subject"
                id="subject"
                class="form-control"
                placeholder="Enter Subject"
              ></textarea>
            </div>
            <br />
            <button type="button" class="btn btn-success">Submit</button>
          </form>
        </div>
        <div class="col-md-6">
          <h1>How To Find Us</h1>
          <p>
            If you have any questions just fill in the contact form and we will
            answer you shortly.If you are living nearby come vist expert at one
            of our comfortable offices.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
